[2014-11-23 09:13] robertrichter opened #2 "cms page - no matches found"
Hello,
I tried out the plugin and I would like to add an item related to all blog categories. I have a cms page that shows all blog entries from rainlab - blog. But this page is not in the CMS Page dropdown. Are there some configuration I missed?

Thanks
Rob

[2015-02-23 17:29] sozonovalexey opened #8 "Empty sitemap.xml"
Hello! I tried to add custom url or page to sitemap but file still empty...

[2015-02-24 09:31] mighty-code commented on #8
Same Issue on my projects. If I reload the page in backend where i added the pages to the sitemap.xml it will be empty again...

If I add and save I'll get a succes alert....

[2015-02-26 01:27] SaifurRahmanMohsin commented on #8
Had the same issue but fixed by downloading the repo into my October install. I think the hook failed to push the updated copy to OctoberCMS.com. Here's a script to get it quickly. Just cd into your October folder using SSH, copy the entire paste and paste it into the terminal
`http://laravel.io/bin/nQ2xd`

[2015-02-27 22:00] drtzack opened #11 "Not compatible with Blog Plugin"
It's not showing blog posts and categories.

[2015-02-28 16:12] sozonovalexey commented on #8
Last update solved the problem.

[2015-02-28 16:12] #8 closed

[2015-03-09 23:12] robballantyne opened #12 "Exception call to undefined method Definitiionitem::resolveattribute"
Call to undefined method RainLab\Sitemap\Classes\DefinitionItem::resolveAttribute()
/var/www/html/*myproject*/modules/backend/Widgets/Form.php line 917
October build 220

 917: list($model, $attribute) = $this->model->resolveAttribute($htmlArray);

[2015-03-09 23:51] daftspunk commented on #12
Fixed in Build 221

[2015-03-09 23:51] #12 closed

[2015-03-13 10:15] tplessis opened #13 "wrong content type"
Hi,

My sitemap returns HTML content type instead of XML with the last build (224). Maybe a wrong ngix conf ?

[2015-03-13 13:21] tplessis commented on #11
+1
There's trouble with dynamic contents. Slugs are replaced by "default" value.

[2015-03-14 02:48] daftspunk commented on #13
Fixed by 22b019c78d32b1f76368f0e47137849eb5625e03

[2015-03-14 02:48] #13 closed

[2015-03-14 03:18] #11 closed

[2015-03-14 03:18] daftspunk commented on #2
Duplicate of #11

Should be fixed in the next update 1.0.13 of RainLab Blog and Core Build 225

[2015-03-14 03:18] #2 closed

[2015-04-08 05:05] rebornishard opened #15 "empty sitemap"
it's always empty, even i add something on it

[2015-04-09 19:21] jh2odo commented on #15
Hello, have you installed several themes?

In this case, there is a solution in the pull: https://github.com/rainlab/sitemap-plugin/pull/14

You have to modify the routes.php of plugin.

[2015-04-09 21:55] #15 closed

[2015-04-23 09:49] justanne opened #16 "Error: Call to undefined method Backend\Classes\BackendHelper::redirect()"
After installing and clicking the Sitemap link under settings shows me this error:

![exception2](https://cloud.githubusercontent.com/assets/1003597/7294474/51a083a2-e9e0-11e4-87e9-1f4f5bc71443.jpeg)

URL is: /backend/rainlab/sitemap/definitions

[2015-04-23 10:30] oleg-schelkunov commented on #16
I've had same issue when i was using an old build of October. I've added this method manually in a class as hotfix, and upgraded to RC later.

[2015-04-23 16:17] oleg-schelkunov commented on #16
Also, you can view the changes what have made the plugin unusable on pre-rc versions: cb1dcafb57009b6f368431ec7dc2adf195ea1c47

[2015-04-23 18:50] justanne commented on #16
Alrighty, thanks!

[2015-04-23 18:50] #16 closed

[2015-06-02 08:09] laics1984 opened #17 "which folder sitemap.xml is located?"
Hi I would like to edit the physical file of sitemap.xml manually. May I know what is the folder path of sitemap.xml in october cms? Thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19682307-which-folder-sitemap-xml-is-located?utm_campaign=plugin&utm_content=tracker%2F7265532&utm_medium=issues&utm_source=github)** We accept bo

[2015-06-27 03:07] json-wong opened #18 "sitemap.xml is empty?"
I added some data for sitemap. but the sitemap content is empty of http://domain/sitemap.xml

That page content displayed without I added data, like this:

`<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/sc

[2015-07-01 07:06] fiberit commented on #18
Same problem here !

[2015-07-02 09:22] json-wong commented on #18
@daftspunk We need help.

[2015-07-04 00:22] daftspunk commented on #18
Need some more info please, the sitemap plugin works for me. How can I replicate this issue?

[2015-07-04 00:22] daftspunk commented on #17
The sitemap.xml is dynamically generated using a route, in short, there is no file.

[2015-07-04 00:22] #17 closed

[2015-07-07 06:49] json-wong commented on #18
Hi @daftspunk

I don't know why this happened, it working in a new installation version of OctoberCMS, just don't work in my existing instance.

That details please refer to the attached picture.

I was added some data in sitemap page, but there are not displayed on the frontend page.

![20150707144512](https://cloud.githubusercontent.com/assets/275036/8540332/44de7bee-24b7-11e5-86e9-e1d57989bb56.

[2015-07-07 07:36] daftspunk commented on #18
If you view the source of that URL does it show anything different? Sometimes the preview doesn't show everything.

Does it happen on a clean install?

[2015-07-08 06:01] json-wong commented on #18
@daftspunk The source page is also not show those contents.

I guess that plugin is not incomplete, this problem does not occur when I used a new OctoberCMS.

Is there any way to reinstall that plugin of sitemap on my existing instance? I have a lot of data in that instance, so if I use a new OctoberCMS then need to transfer a lot of data.

[2015-07-08 06:14] json-wong commented on #18
OK, I found that solution, I made reference to #14 and modify the `route.php` of sitemap plugin, that sitemap page can display those contents.

Why this fix has not been updated through system updates? This issue should be common when installed multiple themes.

[2015-08-18 06:56] shrpne opened #19 "Hidden static pages"
When use "All static pages" type
If static page is `Hidden in navigation`, than it and all childs will not appear in sitemap.
If static page is `Hidden` and not `Hidden in navigation`, than it will appear in sitemap.

I think only `Hidden` parameter should affect visibility of static pages in sitemap, and it should not affect childs.

[2015-09-08 09:16] vojtasvoboda opened #21 "Doesn't work with last build"
It seems that Save on Sitemap doesn't work with last build 293. I tried to uninstall & install fresh and also tried Force Update. Error:

![snimek obrazovky 2015-09-08 v 11 11 56](https://cloud.githubusercontent.com/assets/374917/9731026/ca8e02d4-561a-11e5-95c4-20dd34c86396.png)

Call stack:

[code]

[2015-09-08 22:18] #21 closed

[2015-09-09 08:37] vojtasvoboda commented on #21
Tested and works :+1:

[2015-09-17 20:11] CptMeatball opened #23 "Type "All Blog category(ies)" does not populate dropdown with CMS pages to choose from"
The documentation states that the dropdown in the "blog categories" type, refers to all the cms pages that have the component "blogPosts" implemented. I do have the page, only it does not populate said dropdown.

Is there something I'm missing, or is this a bug?

[2015-09-20 11:09] drtzack opened #25 "Restrict User Access"
It could be really nice if you can add permissions.

Any user can access it in backend.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26814427-restrict-user-access?utm_campaign=plugin&utm_content=tracker%2F7265532&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2015-09-20 11:38] drtzack commented on #25
It seems it's already added but doesn't exists in october website.

I guess It will take a little time.

[2015-09-20 11:38] #25 closed

[2015-09-28 07:20] laics1984 opened #27 "repeated url domain when adding problog tag on sitemap"
Noticed that the url under <log> tag has repeated domain when i add problog tag on sitemap via plugin.

The <loc> is

domain.com/domain.com/blog/tag

How to remove the repeated domain.com?

[2015-10-10 21:58] garf opened #29 "Undefined index:"
[code]

This error appears when I go to index page of the plugin in adminpanel.

[2015-12-13 16:13] drtzack commented on #11
Blog categories is fixed but blog posts are still same.

http://www.talhadurmus.com/sitemap.xml

[2015-12-13 16:20] drtzack commented on #11
It adds "default" to end.

[code]

[2015-12-13 17:09] drtzack commented on #11
Blog categories is fixed but blog posts still same.

Blog post slugs are still replaced by "default" value

[2016-02-10 19:19] ixperiencenl commented on #2
Looks like this problem has shown up again in the latest build (1.0.6) with Blog 1.2.2... This is a problem because the blog is important for SEO, can you please fix this?

[2016-02-10 19:24] daftspunk commented on #2
I have tested this with the `RainLab.Relax` theme and it appears to be working. Perhaps there is some misconfiguration?

[2016-02-10 20:43] ixperiencenl commented on #2
Thank you, maybe it has something to do with the theme? I've removed and re-installed the blog and the sitemap and vice versa but it just doesn't show the page.  I know it's very hard to find out what's going on when you can't see the site itself. If needed I can provide you with details in private message.

[2016-03-12 03:27] bakerstreetsystems commented on #23
I'm having the same issue.

![screen shot 2016-03-11 at 8 26 14 pm](https://cloud.githubusercontent.com/assets/5008697/13720497/b13b2192-e7c7-11e5-8e71-0f55a986dfe6.png)

[2016-03-12 12:16] vojtasvoboda commented on #23
I sent pull request for that 2 months ago: https://github.com/rainlab/blog-plugin/pull/167

[2016-06-21 10:05] JumpLink commented on #23
I have the same issue.

[2016-08-03 10:26] daftspunk commented on #18
Should be well and truly available by now 😄

[2016-08-03 10:26] #18 closed

[2016-08-21 11:35] PhilMarc commented on #23
+1

[2016-08-24 08:43] daftspunk commented on #23
Duplicate of https://github.com/rainlab/blog-plugin/issues/123
Refs https://github.com/rainlab/pages-plugin/issues/122

[2016-08-24 08:43] #23 closed

[2016-08-31 14:58] Verbat opened #37 "Does not work with properly with translated URLs"
Just wanted to let you know that translated URLs are not shown properly.
Based on the language selection it shows either the standard language or the translated language URLs but not both of them.

[2016-09-03 01:41] daftspunk commented on #37
Seems to be working over here. Always provide evidence to support your claims. Also make sure you are using the latest version of October and plugins. As per the contribution guidelines, please provide the exact steps you are taking for the issue to occur. This will be used for peer review.

[2016-09-05 07:41] Verbat commented on #37
Soory for not being clear.
Edge Updates are enabled.
I'm running October with
Core: 364
Pages: 1.2.10
Sitemap: 1.0.6
Translate: 1.2.4 (forceURL = 0)

Here my steps to reproduce this issue.
1. Create static pages in English and German, using the URL translation as described in the readme of the translate plugin

2. Generate a Sitemap with the plugin.
Add Sitemap Item -> Type: All static pages -> Sa

[2016-09-17 21:42] woganmay opened #39 "Fails if php-xml not installed"
If the plugin is installed on a server that does not have the php-xml installed, it will just fail with an exception, that it cannot find the DOMDocument class.

[code]

I resolved it by installing php7.0-xml on my instance:

[code]

Would be nice if the plugin could check for that module's existence before installing.

[2016-09-18 01:16] daftspunk commented on #39
Or at the very least this should be included in the readme / documentation

[2016-09-19 14:46] ghost opened #40 "Add support for multiple sitemaps, per theme"
This plugin only creates a single sitemap file....?

You need to update this to be able to create multiple sitemaps e.g.

[code]

[2016-09-19 21:33] daftspunk commented on #40
Interesting. Please provide a story where multiple sitemaps would be required, or justify why this is necessary.

[2016-09-20 22:18] ayumihamsaki commented on #40
A sitemap can have a max of 25,000 links so for example october.com has a forum and so you would fill up the sitemap very quickly (hopefully) and then get stuck.

I was thinking maybe RainLab Blog and Forum plugins being able to create a separate sitemap for each category you create for example. This is something I need to code for one of my websites as each forum section - I have thousands of pos

[2016-09-21 10:08] daftspunk commented on #40
We are aware of the protocol limit of 50,000 records, according to the [Google guidelines](http://stackoverflow.com/questions/2887358/limitation-for-google-sitemap-xml-file-size) it cannot exceed this amount any way. I'm still yet to see a compelling reason why this is needed.

[2016-09-21 18:27] ayumihamsaki commented on #40
Hard to give some reasons etc. Maybe someone else can suggest some input here.

Best idea I could suggest would be like this:

(octobercms forum)

News / Announcements (sitemap 1) => http://octobercms.com/forum/chan/newsannouncements
Feature Requests (sitemap 2) => http://octobercms.com/forum/chan/feature-requests
Help / Support (sitemap 3) => http://octobercms.com/forum/chan/october-helpsupport
e

[2016-09-21 18:43] ayumihamsaki commented on #40
Another story/reason, say I add octobercms.com to Google News I would have to create two sitemaps then.

1. A Google News Sitemap
2. A Normal Sitemap

Search engines like Bing, Yahoo!, Yandex, Baidu, Naver etc can only crawl a normal sitemap and not a Google News, Images, Video, Mobile sitemap etc.

Google News sitemap: https://support.google.com/news/publisher/answer/74288?hl=en

[2016-09-22 09:10] daftspunk commented on #40
Yes I see, to satisfy this feature, this plugin needs the following enhancements:

- Add the ability to create multiple definitions; instead of default loading the definitions assigned to the active theme.
- Sitemap definitions can make reference to other definitions as items.
- Add a checkbox list to the definition allowing multiple themes to be selected; one theme per definition.
- When a defini

[2016-10-11 13:37] rlaborce opened #41 "Sitemap Returning 404 Even Though It's Live"
Hi,

Even though the sitemap is live, an error displays citing a 404. I submitted to Google's Webmaster and it too also displays a 404 error.

http://canadoorsystems.com/sitemap.xml

<img width="1445" alt="screen shot 2016-10-11 at 9 35 08 am" src="https://cloud.githubusercontent.com/assets/15614624/19272303/1192166a-8f96-11e6-84a7-b231b9fad292.png">

[2016-10-12 19:09] daftspunk commented on #41
Unable to replicate this. The /sitemap.xml file is returning status code 200 on my end.

[2016-10-19 08:33] Kunilt commented on #37
+1

Sitemap plugin don't work as expected with Translate plugin.
If translation for page is available sitemap should be generated following these guidelines: https://support.google.com/webmasters/answer/2620865?hl=en

[2016-10-29 03:22] daftspunk commented on #37
Thanks @Kunilt. We could perhaps tie this in with #40 where there is a need to have multiple sitemaps.

[2016-11-04 12:29] mariavilaro commented on #37
I really need this functionality for a multilanguage site!

[2016-11-08 21:18] daftspunk commented on #37
The sitemap plugin needs some significant enhancements, consider submitting a bounty to have this issue addressed sooner.

[2016-11-21 08:08] gergo85 opened #42 "Update the plugin on the October's Market"
Old version (v1.0.6) is available on the official market, please update the plugin.

[2016-11-22 21:05] daftspunk commented on #42
This is done and hook added. Thanks!

[2016-11-22 21:05] #42 closed

[2016-12-01 15:05] mariavilaro commented on #37
Sorry I'm not sure how this bounty thing works, can you point me in the right direction? I need it ASAP for a production site that I developed for a customer so I am more than happy to pay you for it.

[2017-01-11 13:51] mariavilaro commented on #37
Hi, I fixed this in pull request #43 can you review it?

[2017-04-01 20:49] abhi1693 opened #45 "Incorrect Sitemap generation"
The sitemap includes blog posts that have not been published in to the sitemap.xml which leads the crawlers to a 404 page. This should not happen.

[2017-04-12 20:44] gerasart commented on #27
i have analog problum(((

[2017-05-29 22:17] #41 closed

[2017-05-29 22:18] #29 closed

[2017-05-30 09:19] daftspunk commented on #45
Fixed by https://github.com/rainlab/blog-plugin/pull/318

[2017-05-30 09:19] #45 closed

[2017-06-09 17:20] mykisscool opened #47 "Maximum function nesting level error when building a sitemap with all static pages"
We built a site with 100 static pages that only consist of a parent and max one-child navigation.

When we setup the sitemap- we simply added "All Static Pages".

When we attempt to view it- we receive the following error:

`2017/06/09 17:13:51 [error] 18455#18455: *4 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Maximum function nesting level of '1000' reached, aborting! in /vendor/lara

[2017-06-10 00:10] LukeTowers commented on #47
What's the full stack trace?

[2017-06-12 14:11] mykisscool commented on #47
Thanks for the quick response.  The stack trace was 532 lines long so I condensed it:
[code]

Followed by 43 of the following messages:

[code]

...

[code]

...

[code]

Also- if we turn off xdebug- the following error presents itself:
[code]

[2017-06-12 14:21] mykisscool commented on #47
Also, I failed to mention that adding each static page individually does not present this error- the sitemap loads just fine.  The error is only generated when we use the "All Static Pages" option.

[2017-08-08 11:12] maartenmachiels opened #51 "Is it possible to use custom post types (automatically) in the sitemap plugin?"
The sitemap plugin supports the Blog- and Forum plugin out of the box. I was wondering if it's at all possible to extend this functionality to custom plugins.

My plugin consists of a list of items, each one having their own url. It would be nice if I could get my items into the sitemap without having to define them manually per item (because items will be added / renamed / removed).

The document

[2017-10-07 23:01] abass commented on #39
Thank you @woganmay this fixed the error for me!

[2017-10-18 08:01] Sifizu opened #54 "Can't create new sitemap"
Hi!
I installed your sitemap plugin to my project, but when I tried to add a sitemap, nothing has happend. As I checked in the inspector, some JS files drops error 404. Any ideas what can I do?

[2017-10-18 15:37] LukeTowers commented on #54
Well, that's very helpful. *cough* *cough*

The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the a

[2017-10-26 21:32] LukeTowers commented on #19
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 21:32] LukeTowers commented on #27
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 21:32] #27 closed

[2017-10-26 21:33] LukeTowers commented on #37
Functionality will be implemented in #52

[2017-10-26 21:33] LukeTowers commented on #39
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 21:33] #39 closed

[2017-10-26 21:35] LukeTowers commented on #40
@daftspunk do you still plan on implementing this?

[2017-10-26 21:35] LukeTowers commented on #47
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 21:35] #47 closed

[2017-10-26 21:36] LukeTowers commented on #51
Yes, it uses the RainLab.Pages events for defining menu items. Look at the blog plugin code to figure out how to implement it yourself. Ideally then add to the documentation to help other people in the future.

[2017-10-26 21:36] #51 closed

[2017-10-26 21:36] maartenmachiels commented on #51
Beste,

We zijn er even tussenuit van 25 t.e.m. 29 oktober.
We behandelen je mailtje met plezier op maandag 30 oktober.

Mvg,

Maarten Machiels

[2017-11-02 19:02] jm-mwi opened #56 "Incorrectly lists the URLs for unpublished blog posts in the sitemap"
The plugin currently adds URLs for blog posts even if they aren't published.

The plugin should either only list the blog posts that are published or it should also add the blog post to the robots file as a URL that shouldn't be visited.

**EDIT:** This is being reported as I'm seeing URL errors show up in my webmaster console.

[2017-11-02 19:14] LukeTowers commented on #56
@jm-mwi feel free to make a PR that adds the published filtering to the pages.resolveItems handling used by the sitemap generator.

[2017-11-02 20:31] LukeTowers commented on #56
Duplicate of https://github.com/rainlab/blog-plugin/issues/346

[2017-11-02 20:31] #56 closed

[2017-11-27 11:15] e178551 opened #57 "Extend / Override plugin"
[code]
[code]
http://localhost:8000/news/wilke-endustriyel-yag-bloomberg-ht-yayini
is duplicating

[2017-11-27 15:03] LukeTowers commented on #57
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correctly.

[2017-11-27 15:03] #57 closed

[2017-12-15 14:16] CptMeatball commented on #37
Is this implemented yet? Because I can't seem to find any ML references in the generated sitemap?

[2017-12-15 14:28] LukeTowers commented on #37
@CptMeatball Waiting for me to have time to finish reviewing #55

[2017-12-15 15:34] mariavilaro commented on #37
And for me to have time to make a little modification to work ok with https://github.com/rainlab/translate-plugin/pull/318

[2017-12-19 15:48] CptMeatball opened #58 "Disabled plugin still renders /sitemap.xml"
If you disable this plugin, it doesn't remove the URL from the known routes in the CMS.

**October**: 430
**Sitemap**: 1.0.8

**Expected behavior:**
Disabling sitemap in settings, should throw 404 when going to /sitemap.xml.

**Actual behavior:**
Disabling sitemap in settings, still shows the sitemap when going to /sitemap.xml

[2018-02-21 11:49] billrafferty opened #59 "XML declaration allowed only at the start of the document"
There is an immediate line break at the start of the rendered XML file which causes an error on line 2 at column 6: XML declaration allowed only at the start of the document.

This behaviour is in our production environment but not in development with apparently same config and both on the latest version of the plugin. Have tried looking at plugin code and can't see why this is happening or how to

[2018-02-21 15:54] LukeTowers commented on #59
That sounds like an environment configuration issue to me; can you reproduce this on Homestead with a fresh install of October and the plugin?

[2018-02-23 04:33] billrafferty commented on #59
I've looked at other xml and html pages on production, all exhibit the same initial CarriageReturn/LineFeeds on the first line so I agree it's outside this plugin and most likely a environment condition. Apologies for the posting in error. Now just need to figure out whats causing the problem...

[2018-02-23 04:33] #59 closed

[2018-02-23 16:21] LukeTowers commented on #59
No worries @billrafferty. Feel free to post a follow up when you figure it out!

[2018-03-31 02:01] aktaumag commented on #58
I support. Now I'm looking for a way to solve the problem.

[2018-03-31 04:31] LukeTowers commented on #58
Looks like this is the line that's not working @aktaumag https://github.com/octobercms/october/blob/master/modules/system/classes/PluginManager.php#L202

[2018-07-09 10:05] maartenmachiels commented on #37
Hi guys, what would be the roadmap for allowing multilingual sitemaps? This is an important feature when convincing a client to go for an October CMS solution, as Wordpress has lots of plugins that do this out of the box. I appreciate all your work.

[2018-07-09 16:24] LukeTowers commented on #37
@maartenmachiels if you'd like me to take some time to review all of the proposed solutions and get reacquainted with the code on this so I can merge in a final approach to this issue then perhaps you'd be willing to sponsor that. Outside of that, you can use the PR in progress that @mariavilaro has put a lot of work into or wait for me to get around to finalizing the changes.

[2018-07-11 12:33] didiervassout commented on #59
Hello @billrafferty I've exactly the same issue. Did you figure out how to resolve this?

[2018-08-14 08:03] worldofsmarty opened #60 "Error while accessing sitemap.xml"
Hello,

We have the sitemap plugin installed for a few years now in our website. But recently it started behaving weirdly. The error shown in the below screenshot appears very regularly.
![sitemap-error](https://user-images.githubusercontent.com/5152491/44079068-c2db952c-9fc5-11e8-8617-80f88393f96f.png)

Once we open the sitemap menu/link from the settings section, we will be able to see the sitem

[2018-08-15 04:03] LukeTowers commented on #60
@worldofsmarty looks like it might have something to do with your plugins/vdomah/blogviews/Plugin.php line 60. Check to see if that's the issue by disabling the plugin first.

[2018-08-30 18:53] mikemunger commented on #54
@Sifizu I just experienced this myself, I had to rerun php artisan october:mirror <public_dir> after installing the plugin - that is, if you use a public folder: https://octobercms.com/docs/setup/configuration#public-folder

[2018-08-31 06:50] #54 closed

[2018-09-17 09:50] kevinvermeulenn commented on #60
Hi! I have the same issue.
Any update regarding this issue?

[2018-09-17 14:07] LukeTowers commented on #60
@kevinvermeulenn did you read my comment?

[2018-09-17 14:12] kevinvermeulenn commented on #60
@LukeTowers, Yes I did. I’ve disabled the plugin. Unfortunately, it does not work.

[2018-09-17 14:13] LukeTowers commented on #60
@kevinvermeulenn you're going to have to be more specific than that. Did you try emptying the cache after disabling the plugin? What error appeared on the screen?

[2018-09-17 14:19] kevinvermeulenn commented on #60
@LukeTowers

Well, right now. I've disabled the plugin Views and deleted my october and browser cache.
If you see the page: https://www.kvntravel.nl/sitemap.xml, it is not working correctly (see attachment as well).

![image](https://user-images.githubusercontent.com/13196012/45628835-395ba180-ba95-11e8-9376-d7ad178b24d2.png)

Does this help?

[2018-09-17 14:31] LukeTowers commented on #60
@kevinvermeulenn yes, I suggest you try reading the error messages instead of panicking :)

The error you're getting is that `Class name is not registered for the component "views"`, and it tells you to "Check the component plugin". One of your pages still has the `views` component on it which previously would have been provided by the plugin in question, you need to remove that plugin's component

[2018-09-22 12:36] mariavilaro commented on #37
Hi @LukeTowers, I posted a bounty on this issue some time ago, if you can take some time to review and merge my changes, please feel free to claim the bounty https://www.bountysource.com/issues/37451356-does-not-work-with-properly-with-translated-urls

[2018-09-25 09:01] zlobec opened #61 "Google indexes the sitemap.xml url in search results"
Hey,

It seems that Google indexes the sitemap.xml url and displays it in the search results.

Is it possible to include the tag **X-Robots-Tag: noindex** in the HTTP response?
See more info: https://webmasters.stackexchange.com/questions/62978/prevent-xml-sitemaps-from-showing-up-in-google-search-results

Regard,
Darjan

[2018-09-25 14:47] LukeTowers commented on #61
@zlobec feel free to submit a PR to do so!

[2018-12-04 15:21] CptMeatball opened #62 "Easier way to implement custom itemTypes"
I find it very tedious to implement the logic for generating custom itemTypes like `blog-post` and `all-blog-posts`. I keep copying the logic again and again for each project/plugin.

I'm looking at ways to make this proces easier/less tedious. It might be an idea to add custom behaviours to this plugin, so we only need to define the parameters necessary to output custom post types.

My suggested

[2018-12-04 21:39] CptMeatball commented on #62
What exactly do you mean with API?

The more I think about it, the more I think the types should be the declared inside a yaml file. 🤔It would read from the YAML file, which is added to the model (e.g. `$itemTypeConfig = '/path/to/file.yaml'`) which houses all necessary information.

[code]

In existing functions we iterate over the YAML and fill the `$items` array accordingly. In this way the met

[2018-12-05 04:33] LukeTowers commented on #62
I'm not sure how exactly that would work, but feel free to submit a PR with your ideas

[2019-02-21 10:51] scanzy opened #66 "Reordering feature not working properly"
Hi, I've been experiencing issues when trying to reorder items.
The problem occurs only if the list is bigger than the page (and the scrolling bar appears). For example if the page can show 10 list elements, there are problems reordering all the elements from the 11th.
It looks like the plugin doesn't take into account the scroll position of the list.

Thanks in advance

[2019-02-21 11:24] w20k commented on #66
@scanzy could you provide a screenshot or gif of this issue? This might be a core problem, needs testing.

[2019-02-21 11:50] scanzy commented on #66
As you can see in the screenshots, when the scrollbar is all the way up everything is working fine, so the grey element (new item position) is right under the light blue one (grabbed by the mouse).

![schermata da 2019-02-21 12-36-25](https://user-images.githubusercontent.com/13015360/53166930-da1b3380-35d6-11e9-9ef2-271ab818d0fa.png)

The more I scroll down the list, the more the distance between

[2019-02-21 12:10] w20k commented on #66
@scanzy thanks a lot for screenshots. Grey thing is a scroll bar ;)
And most probably it's a core issue, more specifically with this plugin: https://github.com/johnny/jquery-sortable

[2019-03-25 19:56] RCheesley opened #68 "URL rendering default instead of category in path"
I'm having a problem when I try to use the blog category posts option, in that all the posts are being rendered with /default/ instead of the category.

I'm not sure if this is a bug with the sitemap plugin or something to do with the setup we have - the URL's all render fine on the front-end in the blog itself, and when I use blog category it has the correct URL as well.

Any ideas?

[2019-04-13 17:23] Zmove commented on #68
For what I experienced, it seems that the module is not compatible with dynamic url. It can't replace url with parameters like `:slug` with all possible urls.

It's a shame because, except for small website of 5-6 static pages, this plugin is useless actually

[2019-04-15 09:47] RCheesley commented on #68
Yeah, pretty frustrating hey!

[2019-04-15 09:55] RCheesley commented on #66
I also experienced this problem as my sitemap got longer .. super frustrating!

[2019-04-15 09:58] RCheesley commented on #68
@w20k any ideas if this can be fixed/addressed? It effectively means blog categories can't have their posts listed out on the sitemap because the URL structure is incorrect.

I guess a way round it might be to figure out how the front-end of the site picks the correct category and generates the correct routing, and use that in order to generate the URL? (my best guess as a non-developer who isn't

[2019-05-16 15:48] bennothommo commented on #60
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-16 15:48] #60 closed

[2019-05-16 15:53] bennothommo commented on #61
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-16 15:53] #61 closed

[2019-05-28 15:08] bennothommo commented on #68
Related Blog plugin issue: https://github.com/rainlab/blog-plugin/issues/437

[2019-05-28 15:10] bennothommo commented on #68
@RCheesley Instead of using the *All Blog Posts* type in the Sitemap, could you instead use the *Blog category posts* type in the Sitemap, and link it to the page with the `:category` slug? It would mean you would have to create a sitemap item for each individual category, but it would at least be a workaround for now.

[2019-06-07 08:31] w20k commented on #66
We need to fix the old jQuery plugin for the solo case. I don't have time for that at the moment.

[2019-06-07 12:40] LukeTowers commented on #66
@RCheesley @scanzy if you guys want you can always work on a fix yourself and then submit it to the core in a PR, or you can feel free to sponsor the issue / have your company's sponsor it so that it would get dealt with sooner.

For what it's worth, I've also encountered the issue, so we know it's a bug, it just hasn't annoyed me personally enough yet to care about spending time on fixing it, but

[2019-09-11 21:46] #19 closed

[2019-11-18 04:16] drmzio opened #70 "Sitemap returning 404 status code"
Referencing issue #41 because I'm also having a problem with the `/sitemap.xml` returning 404 status code even though it exists.

Sitemap |
--- |
![](https://cl.ly/015f7aee7207/%255B45bb1562d57653697eeb1fdaea3b72dc%255D_Image%2525202019-11-17%252520at%2525209.03.34%252520PM.png) |
URL: https://october-news.com/sitemap.xml |

Might have to force a 200 status code in the response.

https://github.co

[2019-11-18 04:22] bennothommo commented on #70
@drmzio It could potentially be a server configuration issue. I get 200 on some of my client websites:

https://www.morleycanvas.com.au/sitemap.xml
https://summerstar.com.au/sitemap.xml

[2019-11-18 04:34] drmzio commented on #70
Ok I think I found the culprit. Seems like Forge adds these lines to my Nginx configuration and commenting them out solves the 404 issue 👍

![](https://cl.ly/a3aa41e822af/Image%2525202019-11-17%252520at%2525209.32.22%252520PM.png)

[2019-11-18 04:34] #70 closed

[2020-04-05 21:58] HermesZum opened #75 "Implement urls with the language tag"
Google recommends using different URLs for each language version of a page rather than using cookies or browser settings to adjust the content language on the page.

It will be possible to implement urls with the language tag?

Regards

[2020-04-06 06:16] LukeTowers commented on #75
There's been a few different issues / PRs on this between this plugin and the rainlab.translate plugin. It is something we're open to supporting but it kind of petered out because I didn't have time to implement it how I wanted it and the person proposing didn't have time to revise it from their initial approach.

[2020-04-07 14:16] HermesZum commented on #75
I understand that there are several priorities when designing a CMS. However, sitemap is an essential component of CMS SEO. I think that being a RainLab component it should be complete. I am testing the October CMS to see if it is a viable solution. So far I'm enjoying it, October CMS a lot of potential, but I came across problems like this, an essential component that does not fit for multilangua

[2020-04-07 16:09] LukeTowers commented on #75
The original author of the PR to add support just ended up creating their own plugin to handle this need: https://octobercms.com/plugin/utopigs-seo, so you could always use that instead. The reason it hasn't been properly implemented in the rainlab plugin yet is that no one wanted to implement the suggested changes, the core team who could relatively easily implement them doesn't really use multil

[2020-06-17 20:35] LukeTowers commented on #37
@mariavilaro in an effort to steal people's money, BountySource has just announced that they're going to be keeping any bounties older than two years unless the bounty poster emails them at support@bountysource.com to redirect the bounty to another issue.

See below that was just emailed out today:

If no Solution is accepted within two years after a Bounty is posted, then the Bounty will be withd

[2020-06-17 21:32] LukeTowers commented on #58
@CptMeatball was this fixed by the recent changes in Build 466?

[2020-06-17 21:32] LukeTowers commented on #62
@CptMeatball why'd you close this?

[2020-06-18 08:44] mariavilaro commented on #37
No prob, I just sent the email redeploying to Laravel 6 upgrade

[2020-06-18 15:53] LukeTowers commented on #37
Thanks @mariavilaro, I appreciate it!

[2020-11-13 20:03] thiagarajanm commented on #68
Is there any workaround or any plans to fix this issue anytime soon?

[2020-11-13 20:22] mjauvin commented on #68
The way to properly use the blog post page url is to NOT use a category slug but have the category saved in the session when opening a blog post from a blog category page. Here is a sample of my blog category page (blog/category.htm):
[code]
And here's the Blog Post page (blog/post.htm):
[code]

With this way of saving the current category in the session, the RainLab.Sitemap can be used without pr

[2020-11-13 20:32] thiagarajanm commented on #68
Thanks @mjauvin I moved my site(s) from Joomla to OctoberCMS where category is everything and I have a lot of blog posts which i cannot move to a new URL. That is the reason for not using /blog/post/:slug instead i use /blog/:categorySlug/:slug
I realized the multiple category thing when building the site, so i choose only 1 category per post.
I am trying to find where the default applies when gen

[2020-11-13 21:25] mjauvin commented on #68
It's feasible, but you'd have to create a plugin to do this. I don't have time right now, but I can show you the way.

This plugin will need to create a new menu item type (call it "all-blog-posts-with-categories" maybe)...

Basically, you need to replicate what the RainLab.Blog plugin does in its Post model, look at the following  in `models/Post.php`:

- getMenuTypeInfo()
- resolveMenuItem()
- g

[2020-11-13 22:03] thiagarajanm commented on #68
Thanks @mjauvin I will try to build this and post here is its successful :)
Thanks a lot for the help

[2020-11-14 16:14] thiagarajanm commented on #68
Thanks a lot @mjauvin it works as expected.

[2020-11-14 16:24] mjauvin commented on #68
If you're willing to share your code here for others benefit, that would be nice!

[2020-11-14 17:22] thiagarajanm commented on #68
I did a quick and dirty workaround did not extend the plugin. You already gave the code :) needed for this. All i did was copy that function in post model and change the URL under all-blog-posts item.

elseif ($item->type == 'all-blog-posts') {
            $result = [
                'items' => []
            ];

            $posts = self::isPublished()
            ->orderBy('title')
            -

[2020-11-14 19:00] mjauvin commented on #68
Note: no need to actually extend the Blog plugin, just create a plugin that adds a new menuTypeInfo.

[2020-12-07 16:56] damsfx opened #79 "Rendering of empty pages"
Hi all,

When I create a page/sub-page structure, the master pages are shown in the sitemap even if they are empty of any content (in the case of use at the top of a heading).

I can't find an option like in the menus of the 'Static page' plugin to include children instead of the page itself.
Is there an option, or do I need to extend the plugin to include this functionality?

[2020-12-07 17:24] mjauvin commented on #79
The menu items are generated by this method in RainLab.Pages' Page::class:
[code]
I assume you're using the 'all-static-pages' menuItemType ?

One thing you could do is define a new Menu Item Type and rewrite the above functions to ignore those pages if their "replace" property is set.

See the "Creating new menu item types" section here:
https://octobercms.com/plugin/rainlab-pages

[2020-12-08 03:43] SplicedWeb opened #80 "Seeing output I don't believe should render at the top of the output xml file"
The text output that shows in the top of the sitemap is:
// Catch errors if signal is already set by user agent or other extension try { Object.defineProperty(navigator, 'globalPrivacyControl', { value: false, enumerable: true }) // Remove script tag after execution document.currentScript.parentElement.removeChild(document.currentScript) } catch (e) {}

[2020-12-08 03:50] bennothommo commented on #80
@SplicedWeb that appears to be code that is being injected by your browser, or perhaps another plugin. That isn't being generated by the Sitemap plugin. You'll need to audit your plugins (perhaps disable them one by one) and see if any of them are inserting that code.

[2020-12-08 03:50] #80 closed

[2021-07-30 07:48] patimio66 opened #82 "Software updating problem, database (MariaDB) doesn't want to update"
Trying to update from 1.0.1 to 1.0.9.

![image](https://user-images.githubusercontent.com/78798236/127619519-6393dfcd-a664-4975-a8c5-7a13f560010f.png)

And here's the bug showing after a few seconds.
Update failed
SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'rainlab_sitemap_definitions' already exists (SQL: create table `rainlab_sitemap_definitions` (`id` int unsigned not null a

[2021-08-11 02:23] daftspunk commented on #82
You will need to reinstall the plugin from scratch and delete all indexes and tables that are prefixed with `rainlab_sitemap_*`. The second error shows a rogue index is still hanging around. If you need further assistance with this, and faster response times, send an email to hello@octobercms.com

Thanks

[2021-08-11 02:23] #82 closed

[2021-10-13 11:08] Chinyoka1 opened #84 "Sitemap is empty, changes aren't saved"
I tried to add the sitemap definitions in the backend, but they aren't saved to the database, so when I reload the page, it's empty again. On http://domain/sitemap.xml, all I see is this.
![grafik](https://user-images.githubusercontent.com/59474009/137121594-274d1a0c-5b42-4441-a687-d35afa1b4e46.png)

I read the other issues with the same problem, but I couldn't find a working solution.

[2021-10-14 04:39] daftspunk commented on #37
This should be fixed in the latest version. Ping my username if it is still an issue.

[2021-10-14 04:42] daftspunk commented on #66
This should have been fixed as part of https://github.com/rainlab/pages-plugin/issues/384

Thanks

[2021-10-14 04:42] #66 closed

[2021-10-14 04:48] daftspunk commented on #84
Thanks for the report @Chinyoka1

This should be fixed in v1.1.1 of this plugin. Please update and try again

[2021-10-14 04:48] #84 closed

[2021-10-14 04:49] #75 closed

[2021-10-14 04:51] #62 closed

[2021-12-30 16:01] chocolata opened #86 "Sitemap won't open, instead downloads source file"
Hi,

I might be overlooking something, but in my setup (over multiple sites) when I navigate to https://domain.com/sitemap.xml, the enclosed file is just being downloaded instead of showing the actual sitemap:

![image](https://user-images.githubusercontent.com/3584586/147767795-3a0ae6cf-e5d5-42f0-8c46-f513bc0393a6.png)

I'm using October CMS v2.1.24 and the Rainlab Sitemap plugin version 1.1.1. I

[2021-12-31 02:16] TimFoerster commented on #86
Can you post your nginx domain configuration file?
I am unable to reproduce the problem. It works fine for me (nginx/1.21.1).

[2021-12-31 08:31] chocolata commented on #86
Hi Tim, thanks for your answer. Just checked - removing the nginx configuration seems to have no effect, the problem still persists. These are the directives I'm using:

[code]

[2021-12-31 16:05] TimFoerster commented on #86
are you sure that this is the correct file?

Your php handler is empty
[code]

Do you use fpm or apache?

[2022-01-03 09:33] chocolata commented on #86
Hi Tim,

I'm using a Plesk server and cannot access the nginx configuration file directly. I pasted the above code into the additional nginx directives field:

![image](https://user-images.githubusercontent.com/3584586/147916114-59ae9cfb-7811-4c3c-ac63-4851c7daa5af.png)

I'm using FastCGI served by Apache.
![image](https://user-images.githubusercontent.com/3584586/147916170-f6e5b68a-5250-4637-a758

[2022-01-05 22:19] daftspunk commented on #86
Hi @chocolata,

There is caused by some nginx configuration, out of reach, that forces the .xml suffix in the URL to display with plaintext encoding. This is unique to Plesk and you'd need to contact your hosting provider for support with this. However, using this Plesk tool, it is best to stick with Apache, that is significantly faster than their Nginx implementation anyway.

I hope this helps!

[2022-01-05 22:19] #86 closed

[2022-01-10 15:36] chocolata commented on #86
Hi @daftspunk

Thanks for your views. Just to verify - I checked some of my sites that are still running October CMS v1, and there the sitemaps do download correctly. For example, I just checked a site running build 469, with the Sitemap plugin v1.0.1, running on the same server with the same configuration as my newest sites, and there the sitemap does show correctly. I'd be happy to provide addit

[2022-01-11 15:05] TimFoerster commented on #86
@chocolata  do you use the same `.htaccess` file?

[2022-01-11 23:49] daftspunk commented on #86
Based on the observations, this is very likely to be caused by web server configuration. When accessing the sitemap URL, the PHP engine does not even start, it just delivers the entry point index.php contents as if it were a static file. Look at comparing the configuration of the v1 site and v2 site side by side to see if you notice any differences.

[2022-01-12 10:20] chocolata commented on #86
Hi - thanks for your follow-up. I've just checked thoroughly, but the configuration is completely the same between the v1 and v2 install apart from the mirroring (only v2 is mirrored). The v2 sites haven't migrated to another server / did not change configuration... Update to v2 was done in place. I'm curious to know if anyone else has experienced this issue. In any case I'll keep looking and repo

[2022-01-12 10:24] chocolata commented on #86
@daftspunk Just to check: is there any way to undo the mirroring to test out if that could be the issue in conjunction with the webserver config?

[2022-01-14 03:46] daftspunk commented on #86
I'm not too familiar with Plesk, sorry.

[2022-01-30 15:33] chocolata commented on #86
Hi, just wanted to let you guys know that in a non-mirrored setup the sitemap.xml file loads without problems. Can you let me know which steps to follow to undo a mirrored setup until we find the solution?

[2022-02-24 09:49] chocolata commented on #86
Hi, for those Plesk users who are also seeing this issue in a mirrored setup: I think I've found a solution.

In the nginx settings of your subscription, scoll to `Serve static files directly by nginx`, tick the box and enter `xml` as the only entry.
![image](https://user-images.githubusercontent.com/3584586/155499521-e2822eb9-8062-470e-95d4-9e0718accc07.png)

You might have to disable nginx cachi

[2022-02-24 09:55] daftspunk commented on #86
Interesting. This seems like the reverse of what we want. But. If it works, it works.

[2022-02-24 13:51] chocolata commented on #37
Hi @daftspunk #, I'm on version 1.1.1 and October 2.1.31 but it doesn't seem like the sitemap.xml document picks up the different languages of the site. The URLS don't seem to pick-up the language parameter, and the URL's of the default language are shown. Is there a setting I'm overlooking?

[2022-02-24 21:00] daftspunk commented on #37
Hey @chocolata, this sitemap plugin supports `alternate_locale_urls` but by extension only (333371881fd1734f96a8e264e4da3213c5a99a80). There isn't any native support for translated URLs in this plugin.

This issue resulted in the creation of a new plugin that you can use instead. Here is a link:
https://octobercms.com/plugin/utopigs-seo

Alternatively, in future releases, we will recommend buildin

[2022-02-25 08:40] chocolata commented on #37
Thanks @daftspunk
I was using the utopigs solution, but mistakenly thought multilanguage support now was integrated into the Rainlab Sitemaps plugin. The utopigs solution is okay, except that it comes with a bunch of other functionality that we're not using.

Will definitely look into creating a sitemap file manually using your proposed solution. Thanks a bunch for your insights.

[2022-03-02 16:38] tobias-kuendig opened #87 "Cannot access Sitemap config in Backend on October 2"
I am currently unable to visit `/backend/rainlab/sitemap/definitions/update/1` on a October 2.1/2.2 installation:

The `$model` is empty:
https://github.com/rainlab/sitemap-plugin/blob/master/controllers/Definitions.php#L72

[2022-03-02 18:07] daftspunk commented on #87
Added some exception handling in 4bc4d8add0ebe9ef99566e76e96b566afff480f1

However, this will just make a nicer error message. This scenario is never meant to happen since a model is created and should always exist

[code]

Any more information you can provide would be useful.

[2022-03-03 07:39] tobias-kuendig commented on #87
Hm, that's strange. I have this error on two different installations (2.2). The model is created correctly, I can see it in the database.

Adding this workaround after [modules/backend/widgets/form/HasFormWidgets.php:56](https://github.com/octobercms/october-private/blob/7c28fdfba81730596e2aee3edd44b7f8b7416301/modules/backend/widgets/form/HasFormWidgets.php#L54) fixes the issue:

[code]

The `cla

[2022-03-03 10:16] daftspunk commented on #87
Ah, yes, there was some mysterious behavior like this because the types were getting lowercased. See if this fixes it https://github.com/octobercms/library/commit/b594c7001db2c63ac7dcf1fd2e75c8fac82997c9 (released in v2.2.5)

[2022-03-03 10:35] tobias-kuendig commented on #87
Looking good, thank you!

[2022-03-03 10:35] #87 closed

[2022-05-19 02:34] roojai opened #89 "Error on sitemap.xml"
I am running Octobercms 2.2.25 and plugin version 1.2.0 and I am getting an error on the sitemap.xml whether I add items to the site map or even if it is blank.

The error is

This page contains the following errors:
error on line 2 at column 6: XML declaration allowed only at the start of the document
Below is a rendering of the page up to the first error.

..and nothing else follows

[2022-05-26 04:58] roojai commented on #89
I worked through all the plugins on my site and found it was one of my own plugins that was causing the problem. I had a routes.php file that had the opening <?php on line 2 instead of line 1 and this was causing the issue. Sorry for raising a non-existent issue!

[2022-05-26 04:58] #89 closed

[2022-05-26 06:59] daftspunk commented on #89
Great! Glad you got it sorted. Thank you for reporting back

[2022-10-10 00:18] daftspunk commented on #40
This is much easier to implement as a theme template using the resources component and building nodes using Twig like any other navigation:

[code]

[2022-10-10 00:18] #40 closed

[2022-10-11 05:05] jan-vince opened #91 "SitemapHandler::sitemap() should not be called statically"
Error after update from Sitemap plugin 1.2.0 to 1.2.2:

`ErrorException: Non-static method RainLab\Sitemap\Handlers\SitemapHandler::sitemap() should not be called statically in /vendor/laravel/framework/src/Illuminate/Routing/Route.php:197`

OC version 476.

[2022-10-11 06:30] daftspunk commented on #91
Should be fixed by 4eee957c87160f7dc64d730476cd5c81d46e0e1b

Please update to v1.2.3 and try again

[2022-10-11 10:02] jan-vince commented on #91
Hi @daftspunk,

it works, thanks!

PS: v1.2.3 is not available through Marketplace yet.

[2022-10-11 10:02] #91 closed

[2022-11-05 14:25] webfalter opened #92 "No sitemap definition was found"
OctoberCMS Build: ### 3.1.21
RainLab Sitemap-Plugin Version: ### 1.2.3
PHP Version: 8.1.4

EventLog
No sitemap definition was found. Try creating one first.

[2022-11-05 16:22] webfalter commented on #92
.env ACTIVE_THEME :-)

[2022-11-05 16:22] #92 closed